@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  padding: 60px 20px 60px 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 40px;
}

.bardo-logo {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: rgb(128, 0, 32);
  font-size: 32px;
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: rgb(178, 34, 34);
  font-size: 18px;
  margin: 20px 0;
}

.section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.section:last-child {
  border-bottom: none;
}

.section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.section p {
  text-align: justify;
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  gap: 20px;
}

.course-list .course {
  background-color: #f0fff0;  /* Very light green elements */
  padding: 20px;
  border-radius: 10px;
}

.paragraph-header {
  font-weight: bold;
  color: #800020; /* Dark burgundy */
}

.darker-background {
  background-color: #f5e6e8; /* Light shade of burgundy white */
}


ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modern-button {
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Use the imported font */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.modern-button:hover {
    background-color: #45a049;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.modern-button:active {
    background-color: #388E3C;
    box-shadow: none; /* Remove shadow on click */
}

.modern-button:focus {
    outline: none;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.email span {
    margin-left: 10px;
}

.facebook-icon {
    margin-left: 10px;
    color: #4267B2;
}

.facebook-icon:hover {
    color: #3b5998;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
body {
  padding: 60px 40px 60px 40px; /* Adjust for sticky header and footer */
}

.container {
  margin: 0 auto;
}

}
